<?xml version="1.0" encoding="utf-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">
  <application
    android:name=".HakusanApplication"
    android:label="@string/app_name">
    <!-- Keep the application-owned database in the main process. -->
    <service
      android:name="androidx.room3.MultiInstanceInvalidationService"
      tools:ignore="MissingClass"
      tools:node="remove" />
  </application>
</manifest>
